<!-- Site footer -->
<footer class="site-footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Weihnachten</h6>
        <p class="text-justify">Weihnachten eine Zeit
          Voll Zufriedenheit
          Von Familie und Geborgenheit
          Frohsinn und Heiterkeit.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Hilfe und Kontakt</h6>
        <ul class="footer-links">
          <li><a href="#">Ratgeber</a></li>

          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Presse</a></li>


        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Mehr über uns</h6>
        <ul class="footer-links">

          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutz</a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">&copy;Lorem ipsum | 2022  Alle Rechte vorbehalten
        </p>
      </div>
    </div>
  </div>
</footer>
