<div class="row px-4">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
  <div class="col-12">
    <div class="btn-group">
       <a class="btn btn-primary " href="#">To shopping List</a>
       <a class="btn btn-success mx-3" href="#">Edit Recipe</a>
        <a class="btn btn-danger" href="#">Delete Recipe</a>
    </div>
  </div>
  <div class="col-12 pt-4">
    Description
  </div>
  <div class="col-12">
    Ingredients
  </div>
</div>
<br>



